*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(212, 45%, 89%);
}

/* Style */
.main{
  height: 68%;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  padding: 1%;
  border: 1px solid black;
}
img{
  border: 1px solid purple;
}
section{
  padding: 0 4%;
  border: 1px solid teal;
}
.attribution{
  width: 18%;
  font-size: 0.85rem;
  border: 1px solid blue;
}
.main,img{
  border-radius: 4%;
}

/* Fonts */
h1{
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.2rem;
}
p{
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 0.80rem;
}
a{
  color: hsl(218, 44%, 22%);
  text-decoration: none;
}
a:hover{
  color: hsl(0, 0%, 100%);
}

/* Mobile */
@media screen and (max-width: 360px){
  .main{
    height: 52%;
    width: 75%;
    padding: 4%;
    justify-content: space-between;
  }
  .attribution{
    width: 73%;
    font-size: 0.85rem;
    border: 1px solid blue;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px){
  .main{
    height: 62%;
    width: 75%;
    padding: 4%;
    justify-content: space-between;
  }
  .attribution{
    width: 73%;
    font-size: 0.85rem;
    border: 1px solid blue;
  }
}

@media screen and (min-width: 376px) and (max-width: 412px){
  .main{
    height: 48%;
    width: 75%;
    padding: 4%;
    justify-content: space-between;
  }
  .attribution{
    width: 73%;
    font-size: 0.85rem;
    border: 1px solid blue;
  }
}

@media screen and (min-width: 413px) and (max-width: 810px){
  .main{
    height: 65%;
    width: 75%;
    padding: 4%;
    justify-content: space-between;
  }
  .attribution{
    width: 73%;
    font-size: 0.85rem;
    border: 1px solid blue;
  }
}
